<%= form_tag login_path do %>
  <p>
    <%= label_tag :user_name %>
    <span class="login_area"><%= text_field_tag :user_name %></span>
  </p>
  <p>
    <%= label_tag :password %>
    <span class="login_area"><%= password_field_tag :password %></span>
  </p>
  <span id="submit_login">
    <%= submit_tag 'Login' %>
  </span>

<% end %>
